@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
    width: 100%;
}

body{
    background: white;
    font-family: "Merriweather", sans-serif;
    font-size:16px;
}

.logo img {
    z-index: 4;
    position: absolute;
    top: 18px;
    left: 115px;
}

.intro p{
    font-size: 18px;
    border-style: double;
    text-align: center;
    border-color: #5F7F80;
    color: black;
    z-index: 0;

}

p{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.intro img{
    border-style: none;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -1;
}

.chevron>img {
    position: relative;
    top:-30px;
    bottom: 10px;
    left: 170px;
    color: #5F7F80;
}

.chevron>p {
    text-align: center;
    position: relative;
    top:-10px;
    bottom: 10px;
}

.groupetitre.titrehaut img,p {
    font-weight: bold;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    position: relative;
    z-index: -1;

}

.groupetitre.titrebas h2,p{
    margin-top: -40px;
    margin-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 0;
}

h4{
    position: relative;
    z-index:5;
    font-family: Merriweather,sans-serif;
    font-size: 9px;
    margin-top: 70px;
    margin-left: 119px;
    color: #5F7F80;

}

body>h2,p{
    margin: 40px 15px;
}

h3{
    text-align: center;
}

.fond_footer {
    position: absolute;
    top: 2000px;
    height: 183px;
    width: 375px;
    background-color: #B8CACD;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 1980px;
    left: 19px;
    color: black;
    font-size: 10px;
}

.mmi img{
    position: absolute;
    top: 2055px;
    left: 180px;
}

.mailto p {
    position: absolute;
    top: 1980px;
    left: 225px;
    color: black;
    font-size: 10px;
    text-indent: -999px;
    background-image: image("mail.png");

}

.projet {
    position: absolute;
    top: 2060px;
    left: 30px;
    text-align: center;
    color: black;
    font-size: 10px;
}

.projet a:hover {
    background-color: #2488FF;
}