@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
    width: 100%;
}

body{
    background: white;
    font-family: "Merriweather", sans-serif;
    font-size:16px;
}

.logo img {
    z-index: 4;
    position: absolute;
    top: 18px;
    left: 115px;
}

.groupetitre.centrer img{
    margin-top: 70px;
    margin-left: 30px;
    position: relative;
    z-index: -1;
}

h1{
    margin-left: 85px;
    position: relative;
    margin-top: 60px;
    margin-bottom:-145px;
}


.groupetitre.titrebas h1{
    text-align: center;
    position: absolute;
    margin-top:0 ;
    margin-bottom: 0;
    z-index: 0;
}

h2{
    margin-left: 20px;
    padding-bottom: 15px;
}


h4 {
    position: relative;
    z-index: 5;
    font-family: Merriweather, sans-serif;
    font-size: 9px;
    margin-top: 70px;
    text-align: center;
    color: #5F7F80;
}

p{
    margin: 30px;
    margin-left: 30px;
    margin-right: 20px;
    color: black;

}


.img.loupe{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -135px;
}

.img.insta{
    margin-left: 200px;
    padding-top: 50px;
    margin-bottom: -60px;
}

.img.logommi{
    margin-left: 135px;
    margin-top: -30px;
}

.img.data{
    margin-left: 190px;
    margin-top: -120px;
}

.img.work{
    position: relative;
    margin-left: 20px;
    top: -40px;
}


.carousel>h2,header{
    margin: 0 20px;
}

.carousel{
    background-color:white;
    color: black;
    padding:20px 0 ;
}

.carousel-items{
    list-style: none;
    margin-top: 0;
    padding-right: 0;
    padding-left: 140px;
    padding-bottom: 20px;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-items{
    flex: 1 0 320px;
    margin-right:20px;
    scroll-snap-align:center;
}

::-webkit-scrollbar{
    height: 2px;
}

::-webkit-scrollbar-track{
    background-color:white;
}

::-webkit-scrollbar-thumb{
    background-color:white;
}

.chevron{
    position: relative;
    top:-50px;
    margin-left: 146px;
}

.fondformulaire{
    position: absolute;
    top: 1550px;
    height: 340px;
    width: 375px;
    background-color: #5F7F80;
    z-index: -1;
}

.imgformul{
    position: absolute;
    top: 1560px;
    left:240px;
}

.nom{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 1580px;
    padding-top: 5px;
    left: 10px;
    z-index:0;
}

label{
    position: absolute;
    font-family: Merriweather, sans-serif;
    top: -17px;
    padding-bottom: 2px;
    left: 10px;
    z-index:1;
}

input{
    position: absolute;
    font-family: Merriweather, sans-serif;
    height: 35px;
    padding-bottom: 2px;
    z-index:1;
}


textarea{
    position: absolute;
    font-family: Merriweather, sans-serif;
    top: 7px;
    padding-bottom: 2px;
    width: 350px;
    height: 100px;
    z-index:1;
}


.mail{
    position: absolute;
    width: 100px;
    height: 80px;
    top: 1650px;
    padding-top: 5px;
    left: 10px;
    z-index:0;
}

.msg{
    position: absolute;
    width: 325px;
    height: 50px;
    padding-top: 10px;
    top: 1725px;
    left: 10px;
    z-index:0;
}

.button{
    position: absolute;
    width: 100px;
    top: 1850px;
    left: 250px;
    z-index:0;
    color: #9BE2F2;
}

.fond_footer {
    position: absolute;
    top: 1890px;
    height: 183px;
    width: 375px;
    background-color: #B8CACD;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 1880px;
    left: 19px;
    color: black;
    font-size:10px;
}

.mmi img{
    text-align: center;
    position: absolute;
    top: 1930px;
    left: 180px;
}


.mailto{
    position: absolute;
    top: 1900px;
    left: 330px;
}


.facebook{
    position: absolute;
    top: 1902px;
    left: 305px;

}

.instagram{
    position: absolute;
    top: 1905px;
    left: 272px;

}

.twitter{
    position: absolute;
    top: 1905px;
    left: 238px;

}

.projet {
    position: absolute;
    top: 3505px;
    left: 30px;
    text-align: center;
    color: black;
    font-size: 10px;
}

.projet {
    position: absolute;
    top: 1965px;
    left: 30px;
    text-align: center;
    color: black;
    font-size: 10px;
}

.projet a:hover {
    background-color: #2488FF;
}