@font-face {
    font-family: 'droid_serifregular';
    src: url('DroidSerif-Regular-webfont.eot');
    src: url('DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('DroidSerif-Regular-webfont.woff2') format('woff2'),
    url('DroidSerif-Regular-webfont.woff') format('woff'),
    url('DroidSerif-Regular-webfont.ttf') format('truetype'),
    url('DroidSerif-Regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
    font-size: 62.5%;
}

.menu body{
    font-family: "Droid Serif",sans-serif;
    font-size:1.6em ;
    line-height: 1.6;
    margin: 0 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #9BE2F2;
}

.nav-toggle{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after{
    content: "";
    background-color:#5F7F80;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before{
    top: -10px;
}

.nav-toggle-bar::after{
    top: 10px;
}

.menu-open .nav-toggle-bar{
    transform: rotate(135deg);
    background-color: #5F7F80;
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after{
    transform: rotate(90deg);
    background-color: #5F7F80;
    top: 0;
}

.menu{
    background-color: #B8CACD;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(200vw);
    transition: all .4s;
    transition: all .4s;
    z-index: 1;


}
.menu-open .menu{
    transform: translateX(0);
}

.menu-open,
.menu-open body{
    overflow: hidden;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    text-transform: uppercase;

}

.menu li{
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .5s ease;
    text-align: center;
    margin-right: 55px;
}

#trait_dessus{
    padding-left: 30px;
    padding-right: 30px ;
}

.menu a{
    color: black;
}

.menu a:hover{
    color: #9BE2F2;
}

.menu-open .menu li{
    transform: translateX();
    opacity: 1;
}




.menu-open .menu li:nth-child(n+1) {transition-delay: .3s}
.menu-open .menu li:nth-child(n+2) {transition-delay: .35s}
.menu-open .menu li:nth-child(n+3) {transition-delay: .4s}
.menu-open .menu li:nth-child(n+4) {transition-delay: .45s}
.menu-open .menu li:nth-child(n+5) {transition-delay: .5s}