
header>img{
    padding-top:0;
    /*margin-left: auto;
    margin-right: auto;
    width: 577px;
    text-align: center;
    padding: 5px 30px 5px 30px;
    text-indent:-9999px;
    background-image: url(/img/entete/logo.png);
    height: 432px;
    background-repeat: no-repeat;*/
}
header>h1{
    padding-top: 20px;
}

body>img{
    /*position: center;*/
    margin-left: 15px;
}





.slider {
    width: 375px;
    overflow: hidden ;
    margin: 150px auto;
}

.slides {
    width: 375px;
    animation: glisse 10s infinite;
}
.slide {
    float: left;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    43% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    76% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}








body>elix-carousel{
    height: 192px;
    width: 238px;
}

footer .centre div{
    display:inline-block;
    column-count:auto;
    vertical-align:top;
}

body>h1,h2,p{
    margin-left:15px;
    margin-right: 15px;
}


.contact\.module-footer a[href^="mailto:"]{
    background: url("img/footer/mail.png") no-repeat;
    background-size:contain ;
    display: block;
}
.contact\.module-footer a{
    padding-left: 30px;
}

.réseaux\.module-footer a[href^="https://www.facebook.com"]{
    background-image: url("img/footer/facebook.png");
    background-repeat: no-repeat;
    background-size:contain ;
    display: block;
}

.réseaux\.module-footer a{
    padding-left: 25px;
}

.réseaux\.module-footer a[href^="https://www.twitter.com"]{
    background-image: url("img/footer/twitter.png");
    background-repeat: no-repeat;
    background-size:contain ;
    display: block;
}

.réseaux\.module-footer a{
    padding-left: 25px;
}

.réseaux\.module-footer a[href^="https://www.instagram.com"]{
    background-image: url("img/footer/instagram.png");
    background-repeat: no-repeat;
    background-size:contain ;
    display: block;
}

.réseaux\.module-footer a{
    padding-left: 25px;
}

footer div{ /* Chacune des colonnes du FOOTER */
    width: 215px;/* Largeur de 4 colonnes */
}