@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
    width: 100%;
    scroll-behavior: smooth;
}


.header_Items {
    margin-left: 100px;
    top:    18px;
    position: relative;
    z-index: 4;
}

.header_Items> h4{
    position: relative;
    margin-top:-25px;
    margin-bottom: 40px;
    z-index: 4;
}

.intro p{
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.intro img{
    margin-top: -10px;
    z-index: -1;
    position: relative;
    margin-bottom: 20px;
}

.chevron>img{
    margin-left: 165px;
    position: relative;
    top:0;
    margin-bottom: 0;

}

.chevronIndex img {
    top:30px;
    margin-bottom: 60px;
    padding-left: 170px;
    color: #5F7F80;

}

.article>h2{
    text-align: center;
    bottom: 30px;

}

.Images-items{
    display: block;
    margin-left: auto;
    margin-right: auto
}



.groupetitre.titrehaut_Items {
    font-weight: bold;
    border-style: none;
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: -1;

}

.groupetitre.titrehaut_Items>p {
    margin: 40px 30px -80px 20px;
    position: relative;
    text-align: left;
}

.groupetitre.titrehaut_Items>h1 {
    margin: 40px 30px -60px 20px;
    position: relative;
    text-align: left;
}

.groupetitre.titrehaut_Items>h2 {
    margin: 40px 30px -80px 20px;
    position: relative;
    text-align: left;
}


.groupetitre.titrehautAS_Items {
    font-weight: bold;
    border-style: none;
    display: block;
    position: relative;
    align-items: center;
    text-align: center;
    z-index: -1;

}

.groupetitre.titrehautAS_Items>h1 {
    margin: 40px 30px -40px 20px;
    position: relative;
    text-align: left;
}


.groupetitre.titrebas h2{
    margin-top: -40px;
    margin-left: 80px;
    margin-bottom: 40px;
    text-align: left;
    position: relative;
    z-index: 0;
}

.groupetitre.centrer img{
    margin-top: -60px;
    margin-left: 30px;
    position: relative;
    z-index: -1;
    text-align: left;
}

.groupetitre.centrer h1{
    text-align: center;
    position: relative;
    top:30px;
    z-index: 0;
}

.img.loupe{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -135px;
}

.img.insta{
    margin-left: 230px;
    padding-top: 50px;
    margin-bottom: -60px;
}

.img.logommi{
    margin-left: 135px;
    margin-top: -30px;
}

.img.data{
    margin-left: 190px;
    margin-top: -120px;
}

.img.work{
    position: relative;
    margin-left: 20px;
    top: -40px;
}

h2{
    text-align: center;
    padding-bottom: 10px;
}

h3{
    text-align: center;
    padding-bottom: 10px;
}

.article h4{
    text-align: center;
    position: relative;
    margin-top:-25px;
    margin-bottom: 40px;
    z-index: 4;
}

.article>p{
    padding: 10px 20px 10px 30px;
}

.info{
    padding: 10px 20px 10px 30px;
}

.carousel>h2,header{
    margin: 0 20px;
}

.carousel{
    padding:20px 0 ;
}

.carousel-items{
    margin-top: 0;
    padding-right: 0;
    padding-left: 140px;
    padding-bottom: 20px;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-items{
    flex: 1 0 320px;
    margin-right:20px;
    scroll-snap-align:center;
}

::-webkit-scrollbar{
    height: 2px;
}


.chevron{
    position: relative;
    top:-50px;
    margin-left: -20px;
}

form {
    background-color: #5F7F80;
    height: 340px;
    z-index: -1;
    padding: 10px;
}

.imgformul{
    padding-left: 230px;
    padding-top:10px;

}

.nom{
    width: 100px;
    height: 50px;
    margin-top:-160px;
    z-index:0;
}

label{
    z-index:1;
}

input{
    height: 35px;
    z-index:1;
}


textarea{
    width: 340px;
    height: 100px;
    z-index:1;
}


.mail{
    width: 100px;
    height: 80px;
    margin-top:20px;
    z-index:0;
}

.msg{
    width: 325px;
    height: 50px;
    z-index:0;
}

.button{
    width: 100px;
    z-index:0;
    margin-left: 225px;
    margin-top: -30px;
}

.fond_footer {
    position: relative;
    height: 183px;
    width: 375px;
    background-color: #B8CACD;
    margin: 0;
}
.nom_prenom {
    position: relative;
    margin-top:-170px;
    margin-left:50px;
}

.mailto{
    position: relative;
    margin-left: 340px;
    margin-top: -38px;
}

.facebook{
    position: relative;
    margin-left: 310px;
    margin-top: -27px;
}

.instagram{
    position: relative;
    margin-left: 270px;
    margin-top: -24px;
}

.twitter{
    position: relative;
    margin-left: 230px;
    margin-top: -25px;
}


.mmi {
    position: relative;
    margin-top:10px;
    margin-left: 175px;
    display: block;
}


.projet {
    position: relative;
    top: 5px;
    text-align: center;
    color: black;
    font-size: 12px;
}



