html{
    width: 100%;
}

.logo h1 {
    top: 0;
    left:190px;
    width: 240px;
    height: 102px;
    text-align: center;
    text-indent: -9999px;
    background-image: url("img/entete\logo.png");
    background-repeat: no-repeat;
}

.carousel>h2,header{
    margin: 0 20px;
}

.carousel{
    background-color:white;
    color: black;
    padding:20px 0 ;
}

.carousel-items{
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

li.carousel-items{
    flex: 1 0 320px;
    margin-right:20px;
    scroll-snap-align:center;
}

::-webkit-scrollbar{
    height: 2px;
}

::-webkit-scrollbar-track{
    background-color:white;
}

::-webkit-scrollbar-thumb{
    background-color:white;
}

.A_propos>img{
    margin-top: 80px;
}

footer .centre div{
    display:inline-block;
    column-count:auto;
    vertical-align:top;
}

.groupetitre.titrehaut img,p {
    margin-top: -80px;
    margin-left: 30px;
    position: relative;
    z-index: -1;
}

.groupetitre.titrebas h2,p{
    margin-top: -40px;
    margin-left: 30px;
    position: relative;
    z-index: 0;
}

body>h1,h2,p{
    margin: 40px 15px;
}

h3{
    text-align: center;
}

.fond_footer {
    position: absolute;
    top: 1650px;
    height: 143px;
    width: 375px;
    background-color: #B8CACD;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 1625px;
    left: 19px;
    color: black;
    font-size: 10px;
}

.mmi img{
    position: absolute;
    top: 1680px;
    left: 190px;
}

.mailto p {
    position: absolute;
    top: 1625px;
    left: 225px;
    color: black;
    font-size: 10px;
    text-indent:-9999px;
    background: url("img\footer\mail.png") no-repeat;
}

.projet {
    position: absolute;
    top: 1700px;
    left: 40px;
    text-align: center;
    color: black;
    font-size: 10px;
}

.projet a:hover {
    background-color: #2488FF;
}

