@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html{
    width: 100%;
}

body{
    background: white;
    font-family: "Merriweather", sans-serif;
    font-size:16px;

}

.logo img {
    z-index: 4;
    position: absolute;
    top: 18px;
    left: 115px;
}


.groupetitre.titrehaut img,p {
    margin-top: -80px;
    margin-left: 30px;
    position: relative;
    z-index: -1;
}

.groupetitre.titrebas h2,p{
    margin-top: -40px;
    margin-left: 30px;
    position: relative;
    z-index: 0;
}

h4{
    position: relative;
    z-index:5;
    font-family: Merriweather,sans-serif;
    font-size: 9px;
    margin-top: 70px;
    text-align: center;
    color: #5F7F80;

}

h1{
    position: relative;
    font-family: "Droid Serif",sans-serif;
    font-size: 24px;
    color: black;
    margin-left: 10px;
    top: 20px;

}

body>h2,p{
    margin: 40px 15px;
}

h3{
    text-align: center;
    font-family: "Droid Serif", sans-serif;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

h2{
    font-family: "Droid Serif", sans-serif;
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-align: center;
}


.Images-items{
    align-items: center;
}

p{
    margin-left: 30px;
    margin-right: 20px;
}

.carousel>h2{
    margin: 0 20px;
}

.carousel{
    background-color:white;
    color: black;
    padding:0 0 ;
    width:  375px;
    text-align: center;
}

.carousel-items{
    align-items: center;
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    width: 375px;
}

li.carousel-items{
    flex: 1 0 320px;
    margin-right:70px;
    scroll-snap-align:center;
}

::-webkit-scrollbar{
    height: 1px;
}

::-webkit-scrollbar-track{
    background-color:white;
}

::-webkit-scrollbar-thumb{
    background-color:white;
}
.fond_footer {
    position: absolute;
    top: 3450px;
    height: 183px;
    width: 375px;
    background-color: #B8CACD;
    margin: 0;
}
.nom_prenom {
    position: absolute;
    top: 3430px;
    left: 19px;
    color: black;
    font-size: 10px;
}

.mmi img{
    position: absolute;
    top: 3490px;
    left: 180px;
}

.mailto{
    position: absolute;
    top: 3460px;
    left: 330px;
}


.facebook{
    position: absolute;
    top: 3462px;
    left: 305px;

}

.instagram{
    position: absolute;
    top: 3465px;
    left: 272px;

}

.twitter{
    position: absolute;
    top: 3465px;
    left: 238px;

}

.projet {
    position: absolute;
    top: 3505px;
    left: 30px;
    text-align: center;
    color: black;
    font-size: 10px;
}

.projet a:hover {
    background-color: #2488FF;
}