header>#fond_header>.header_Items>h4{
    color: #5F7F80;
}

.intro img {
    border-style: none;
}

.intro p {
    border-style: double;
    border-color: #5F7F80;
}

.index1{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: double;
    color: #B8CACD;
}

.index2{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: double;
    color: #5F7F80;
}

.index3{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border: double;
    color: #A0CA9E;
}

.chevronIndex p {
    border-style: double;
    border-color: #5F7F80;
    text-align: center;
}

.carousel {
    background-color: white;
    color: black;
}

.carousel-items {
    list-style: none;
}

::-webkit-scrollbar-track{
    background-color:white;
}

::-webkit-scrollbar-thumb{
    background-color:white;
}

form {
    background-color: #759798;
}

.fond_footer {
    background-color: #B8CACD;
}

footer>.projet>p>a{
    color: darkblue;
    font-weight: bold;
    font-style: italic;
}