@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



body{
    background: white;
    font-family: "Merriweather", sans-serif;
    font-size:16px;
    line-height:30px;
}

h1{
    font-family: "Droid Serif", sans-serif;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

h2{
    font-family: "Droid Serif", sans-serif;
    font-size: 22px;
    color: black;
    font-weight: bold;
}


h3{
    font-family: "Droid Serif", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.header_Items> h4 {
    font-family: Merriweather, sans-serif;
    font-size: 9px;
}

a{
    text-decoration: none;
    color: black;
}

.intro p{
    color: black;
    font-size: 18px;
}

.chevronIndex p{
    font-size:15px;
    font-family: Merriweather, sans-serif;
}

footer {
    color: black;
    font-size: 12px;
    line-height: 18px;
}

label{
    font-family: Merriweather, sans-serif;
}

input {
    font-family: Merriweather, sans-serif;
}

textarea{
    font-family: Merriweather, sans-serif;
}

.projet {
    color: black;
    font-size: 12px;
}

.projet p{
    line-height: 18px;
}

.projet a:hover {
    background-color: #2488FF;
}
